* { 
    font-family: Helvetica, sans-serif;
}

.cabeçalho .titulo {
    text-align: center;
    color: rgb(125, 177, 194);
    font-size: 60px;
}

.cabeçalho .descrição {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}







.divisão-um .titulo {
    background-color: rgb(125, 177, 194);
    color: white;
    font-size: 30px;
}

.divisão-um li {
    color:rgb(125, 177, 194);
    font-weight: 600;
    margin: 4px;
}







.divisão-dois .titulo {
    background-color: rgb(125, 177, 194);
    color: white;
    font-size: 30px;
}

.divisão-dois .bold {
    color:rgb(125, 177, 194);
}

.divisão-dois li {
    color:rgb(125, 177, 194);
    font-weight: 600;
    margin: 7px;
}






.rodapé {
    text-align: center;
    color:rgb(125, 177, 194);
    padding-top: 3%;
    font-weight: 700;
}

.bloco-botao-receitas {
    text-align: center;
    padding-top: 1%;
}

.botao-receitas {
    background-color: rgb(125, 177, 194);
    color: white;
    font-size: 16px;
}

.bloco-botao-home {
    text-align: center;
    padding-top: 1%;
}

.botao-home {
    background-color: rgb(125, 177, 194);
    color: white;
    font-size: 16px;
}