.cabeçalho {
    text-align: center;
}

.cabeçalho .titulo {
    color:rgb(125, 177, 194);
}






.divisão-um {
    text-align: center;
    padding-bottom: 5%;
}

.divisão-um .titulo {
    background-color:  rgb(125, 177, 194);
    color: white;
}






.divisão-dois {
    text-align: center;
    padding-bottom: 5%;
}

.divisão-dois .titulo {
    background-color:rgb(125, 177, 194);
    color: white;
}






.divisão-tres {
    text-align: center;
    padding-bottom: 5%;
}

.divisão-tres .titulo {
    background-color:rgb(125, 177, 194);
    color: white;
}





.bloco-botao-home {
    text-align: center;
}

.bloco-botao-home .botao-home {
    background-color:rgb(125, 177, 194);
    color: white;
    font-size: 16px;
}