/* Página de Erro */

.blocao-error {
    text-align: center;
}

.error-message {
    color:rgb(125, 177, 194)

}

.error-message .um {
    font-size: 25px;
}

.error-message .dois {
    font-size: 16px;
    padding-bottom: 10%;
}

.bloco-botao-home {
    text-align: center;
}

.bloco-botao-home .botao-home {
    background-color: rgb(125, 177, 194);
    font-size: 16px;
}

/* Página de Erro */